.Dictionary section{
    background: rgba(233, 143, 158, 0.5);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.7);
    margin: 20px 0;
    
}

.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #ddd;
    border-radius: 20px;
    color: #333;
}

.Dictionary .hint {
    font-size: 12px;
    margin-top: 5px;
}

.Dictionary h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}