.Phonetic {
    margin: 15px 0;
    color: #605E4D;
}

.Phonetic a {
    border: 1px solid #ac5c55;
    text-decoration: none;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 20px;
    transition: all 150ms ease-in-out;
    margin-right: 10px;
}

.Phonetic a:hover {
    background: rgb(239, 158, 52);
}

.Phonetic .text {
    opacity: 0.8;
    font-weight: 500;
    color: #605E4D;
}